<header style="position: fixed;top:0;z-index: index 5;width:100vw;">
        
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 46, 0);">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="margin-right:15em">ShopSense</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex" style="width:40vw;">
                    <input class="form-control me-2 w-100" type="search" placeholder="Search" aria-label="Search" style="border-radius:2em">
                </form>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item" style="margin:0 0.5em 0 2em">
                        <a class="nav-link" href="#">Location</a>
                    </li>

                    <li class="nav-item" style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-bag-check-fill"></i> Orders</a>
                    </li>
                    <li class="nav-item" style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-cart3"></i> Cart</a>
                    </li>

                    <li class="nav-item" style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-person-circle"></i> Your Account</a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(40, 59, 40);height:2em">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item" style="margin:0 0.5em 0 2em">
                        <a class="nav-link" href="#">All</a>
                    </li>

                    <li class="nav-item" style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-phone"></i> Mobiles</a>
                    </li>
                    <li class="nav-item" style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-laptop"></i> Laptops</a>
                    </li>

                    <li class="nav-item" style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-tv"></i> TV</a>
                    </li>

                    <li class="nav-item"style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-bag-check-fill"></i> Shoes</a>
                    </li>

                    <li class="nav-item"style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-cart3"></i> Clothes & Wears</a>
                    </li>

                    <li class="nav-item"style="margin:0 0.5em">
                        <a class="nav-link" href="#"><i class="bi bi-smartwatch"></i> Watches</a>
                    </li>

                    <li class="nav-item"style="margin:0 0.5em 0 2em">
                        <a class="nav-link" href="#"> Shoes & Others</a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </nav>

</header>